name: web
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: stable
        cache: true
        cache-key: flutter
        cache-path: ${{ runner.tool_cache }}/flutter
    - run: flutter config --no-analytics
    - run: flutter test